<!doctype html>
<html ng-app="notesApp">
<head>
  <title>Post It</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="javascripts/jquery-ui-touch-punch.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <!-- // <script src="server.js"></script> -->
  <!-- // <script type="text/javascript" src="directives/draganddrop.js"></script> -->
</head>
<body ng-controller="MainController">
  <section ui-view>
    <div id="wrapper">
      <!-- <li ng-repeat="note in notes">{{note}}</li> -->
      <div id="addNote"><span ng-click="newNote()">+</span></div>
      <div class="post" ng-repeat="note in notes">
        <notes info="note"></notes>
      </div>
  <!--     <div class="noteContainer">
        <div class="header">{{note.header}}</div>
        <div class="content">{{note.content}}</div>
      </div> -->
    </div>
  </section>
</body>
</html>