<div class="noteContainer" id="{{info._id}}">
  <div class="close-button" ng-click="removeNote(info._id)">X</div>
  <div class="header" contenteditable ng-model="info.header"></div>
  <div class="content" contenteditable ng-model="info.content"></div>
  <!-- <p>{{info}}</p> -->
</div>