/*body {
  padding: 50px;
}

a {
  color: #00B7FF;
}*/

body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#wrapper {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: tan;
  z-index: -1;
}

.noteContainer {
    position: absolute;
    display: block;
    background-color: yellow;
    width: 250px;
    height: 200px;
    word-wrap: break-word;
}

.header {
    display: block;
    position: relative;
    background-color: #CACA03;
}

.content {
    padding: 15px;
}

#addNote {
    display: block;
    position: absolute;
    right: 25px;
    top: 15px;
    z-index: 100;
}

#addNote span {
    font-size: 5em;
}

#addNote span:hover {
    color: white;
}

.close-button {
    position: absolute;
    width: 25px;
    height: 25px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-family: "Tahoma", Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    line-height: 1.4em;
    border-color: #1472ad;
    background-color: #F00;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F00), to(#cc0000));
    background-image: -webkit-linear-gradient(top, #F00, #cc0000);
    background-image: -moz-linear-gradient(top, #F00, #cc0000);
    background-image: -o-linear-gradient(top, #F00, #cc0000);
    background-image: linear-gradient(to bottom, #F00, #cc0000);
    box-shadow: 0px 0px 2px 0px #666;
    -moz-box-shadow: 0px 0px 2px 0px #666;
    -webkit-box-shadow: 0px 0px 2px 0px #666;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-indent: 1px;
    font-weight: bold;
    right: -15px;
    top: -15px;
    z-index: 1;
}